# Env файлы (твои строчки оставляем)
.env
.env.local
.env.*.local

# Кэш Питон-файлов (Обязательно для Python)
__pycache__/
*.pyc
*.pyo
*.pyd

# Кэш тестов (Обязательно для Pytest)
.pytest_cache/
.coverage
htmlcov/

# Виртуальные окружения (если создаешь локально)
.venv/
venv/
env/

# Локальные базы данных (чтобы случайно не закомитить файлы бд)
*.db
*.sqlite3
